* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding: 2rem;
    max-width: 100vh;
    max-height: 100vh;
}


form{
    padding: 50px;
    margin: 50px;
}


button{
    background-color: rgb(160, 12, 12);
    text-decoration: none;
    border: none;
    padding: 5px;
    border-radius: 25px;
    border: black 1px;
}